*{
    padding: 0;
    margin: 0;
}



.todo-container{
    height: 40%;
    width: 20%;
    position: absolute;
    left: 90%;
    top: 25%;
    overflow: auto;
    align-items: center;
    transform: translate(-50%,-50%);
    display: none;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 1;
} 

.todo-container:hover{
    cursor: grab;
}

h1{
    margin-top: 3%;
    margin-bottom: 3%;
}

.input-container{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input{
    height: 3vh;
    width: 20vh;
}

.submit-button{
    height: 3vh;
    width: 8vh;
}

.todo-output-container{
    height: 35vh;
    width: 90%;
    
}

.New-Todo{
    list-style: none;
    padding-left: 3%;
    padding-top: 1px;
    display: flex;
    
    max-width: 75%;
}


.New-Todo li{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-basis: 100%;
    overflow: scroll;

}

.New-Div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    
}

.button-div{
    width: 20%;
    display: flex;
    justify-content: space-around;
}


.completed{
    text-decoration:line-through;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    transition: ease 1s;
    opacity: 0;
}

.project-name-input{
    height: 1rem;
    width: 8rem;
    position: absolute;
    left: 45%;
    background-color: transparent;
    border:none;
    color: white;
}

.word-process-container{
    display: flex;
    flex-direction: column;
    min-height: 6in;
    width: 10in;
    position: absolute;
    top: 5%;
    left:48.5%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f1f1f1;
    display: none;
    transform: translate(-50%);
    overflow: scroll;
    overflow: hidden;
}

.header{
    height: 30%;
    width: 100%;
    background-color: white;
    margin-bottom: 2%;
    border-bottom: 1px solid black;
    
}

.menu-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 2%;

}

.file-name-close-container{
    width: 100%;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    margin-bottom: 1%;
}

#file-name{
    height: 1.8rem;
    width: 8rem;
    margin-left: 2%;
    border:none;
    color:gray;
    padding-left: 1%;
}

#file-name:hover{
    border: 1px gray solid;
}

.close{
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.5rem;
    position: absolute;
    top:0%;
    right: 0%;
}

.file{
    height: 100%;
    background-color: transparent;
    border:none;
    text-align: left;
    
}

.file:hover{
    background-color: rgb(231, 231, 231)
}

.file-menu{
    margin-left: 3%;
}

.buttons-container-word{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.file-menu{
    position: relative;
    display: inline-block;

}

.dropdown-menu{
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    width: 6rem;
}

.file-menu:hover .dropdown-menu{
    display: block;
}


.controls{
    display: flex;
    flex-direction: row;
    width: 42%;
}

.control-btn{
    width: 2rem;
    border: none;
    background-color: transparent;
    padding: 2%;
}


.control-btn:hover{
    background-color: rgb(231, 231, 231);
}

.control-btn:focus{
    color: rgb(0, 15, 221);
    background-color:rgb(204, 204, 255) ;
}

.undo-icon{
    font-size: 1rem;
}

.fontsize{
    width: 3rem;
    border: 1px solid black;
    padding: 4%;
}

.group{
    border-right: 1px solid black;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    
}


.content-container{
    width: 85%;
    min-height: 6in;
    max-height: 6in;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    padding:2%;
    overflow: scroll;

}

.date-container{
    position: absolute;
    left: 82%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.month{
    margin-right: 3%;
}
.date{
    margin-right: 3%;
}


.test{
    display:flex;
    align-items: center;
    height: 100%;
    color: white;
    position: absolute;
    left: 92%;
    font-weight: bold;
}




.toolbar{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 20%;
    justify-content: space-around;
    position: absolute;
    top:60%;
    left: 5%;
    width:7%;
    transform: translate(-50%, -50%);
    padding: .3%;
}

.color-div{
    display: flex;
    flex-direction: column;
}


#line-width{
    width: 50%;
    border: 1px solid black;
    padding: 3%;
}
.close-toolbar-btn{
    border: none;
    background-color: transparent;
    color: red;
    text-emphasis: bold;
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}


.clear{
    width: 100%;
}

.drawing-board{
    width: 100%;
    height: 100vh;
    
}

#drawing-board{
    width: 100%;
    height: 100%;
   
}

.text{
    width: 100%;
    height: 1rem;
}



.close-word{
   /*transform: translate(-300%);*/
   visibility: collapse;
}

.open-word{
    display: flex;
}

.open-todo{
    display: flex;
}

.close-todo{
    position: absolute;
    transform: translate(-300%);
 }

 .close-todo-container{
     visibility: collapse;
 }


 .side-bar{
     display: flex;
     flex-direction: column;
     width: 15%;
     height: 40vh;
     position: absolute;
     top:5%;
     font-size: large;
     transform: translate(-100%);
     background-color: white;
     transition: ease .5s;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     color:rgb(90, 90, 90);
     
 }




 .sidebar-name{
     height: 32px;
     width: 100%;
     padding-left: 4%;
 }

 .show-side-bar{
    transform: translate(0);
}

.remove-side-bar{
    transform: translate(-100%);
}

 .nav-items li {
    list-style-type: none;
 }

.nav-items{
    display:flex;
    flex-direction: column;
    height: 50%;
}

.nav-items li{
    padding-bottom: 3%;
    padding-left: 8%;
    padding-top: 3%;
}


.nav-items li:hover{
    /*background-color: rgb(211, 211, 211);*/
    color: white;
    background-color: #3581B8;
}






.top-menu{
    position: absolute;
    top:0;
    height: 5%;
    width: 100%;
    background-color: #3581B8;
    display: flex;
    align-items: center;
}



.close-toolbar{
    visibility: collapse;
}
 
.open-toolbar{
   display: flex;
}
 

.timer-container{
    display: flex;
    height: 10%;
    width: 20%;
    border: 1px solid black;
    position: absolute;
    left: 10%;
    top: 5%;
    justify-content: center;

}






.disable-enable-canvas{
    cursor: not-allowed;
}

.newTextDiv{
    border: 1px solid black;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 40%;
    left: 40%;
}


.side-bar-toggle{
    background-color: transparent;
    border: none;
    height: 1.3rem;
    display: flex;
    width: 1.3rem;
    margin-left: 1%;
    align-items: center;
    
}

.side-bar-toggle:hover{
    transform: translateY(-5%);
    transition: ease .2s;
}

.barsSelect{
    font-size: 1.3rem;
    color:white;
    border: 1px solid white;
    padding: 8%;
}


