*{
    padding: 0;
    margin: 0;
}



.todo-container{
    height: 70%;
    width: 20%;
    position: absolute;
    left: 70%;
    top: 450px;
    overflow: auto;
    align-items: center;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 1;
} 

.todo-container:hover{
    cursor: grab;
}

h1{
    margin-top: 3%;
    margin-bottom: 3%;
}

.input-container{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input{
    height: 3vh;
    width: 20vh;
}

.submit-button{
    height: 3vh;
    width: 8vh;
}

.todo-output-container{
    height: 35vh;
    width: 90%;
    
}

.New-Todo{
    list-style: none;
    padding-left: 3%;
    padding-top: 1px;
    display: flex;
    
    max-width: 75%;
}


.New-Todo li{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-basis: 100%;
    overflow: scroll;

}

.New-Div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    
}

.button-div{
    width: 20%;
    display: flex;
    justify-content: space-around;
}


.completed{
    text-decoration:line-through;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    transition: ease 1s;
    opacity: 0;
}


.word-process-container{
    position: absolute;
    top: 200px;
    left: 700px;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    align-items: center;
    border-radius: 10px;
    transform: translate(-50%, -10%);
    overflow: scroll;
}

.menu-container{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
}

.controls{
    display: flex;
    align-items: center;
}

.control-btn{
    height: 30px;
    width: 30px;
}

.content-container{
    width: 90%;
    height: 75%;
    /*border: 1px solid black;*/
    /*margin-top: 5%;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding:2%;
    overflow: scroll;
    opacity: 1;
}


.header{
    display: flex;
    width: 95%;
    height: 10%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.header:hover{
    cursor: grab;
}

.main-file{
    background-color: rgb(85, 85, 202);
    width: 85px;
    height: 30px;
    color: white;
    border:none;
    border-radius: 5px;
    
}

.file-menu{
    position: relative;
    display: inline-block;
    margin-left: 5%;
}

.dropdown-menu{
    display: none;
    position: absolute;
}

.file-menu:hover .dropdown-menu{
    display: block;
}


.time-date-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 12%;
    align-items: center;
    position: absolute;
    left:800px;
    top:100px;
    justify-content: center;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(107, 107, 209);
    color: white;
}

.date-container{
    margin-bottom: 3%;
}



.toolbar{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 20%;
    justify-content: space-around;
    position: absolute;
    top:20%;
    left: 80%;
    width:5%;

}

#line-width{
    width: 95%;
}


.clear{
    width: 100%;
}

.drawing-board{
    width: 100%;
    height: 100vh;
    
}

#drawing-board{
    width: 100%;
    height: 100%;
   
}


.close-word{
   position: absolute;
   transform: translate(-300%);
}

.close-todo{
    position: absolute;
    transform: translate(-300%);
 }


 .side-bar{
     display: flex;
     flex-direction: column;
     border: 1px black solid;
     width: 15%;
     height: 100vh;
     position: absolute;
     top:4%;
     font-size: large;
     transform: translate(-100%);
     background-color: rgb(238, 238, 227);
     transition: ease 2s;
 }

 .show-side-bar{
    transform: translate(0);
}

 .nav-items li {
    list-style-type: none;
 }

.nav-items{
    display:flex;
    flex-direction: column;
    height: 50%;
}

.nav-items li{
    padding-bottom: 3%;
    padding-left: 5%;
    padding-top: 3%;
}


.nav-items li:hover{
    background-color: white;
}






.top-menu{
    position: absolute;
    top:0;
    height: 4%;
    width: 100%;
    border:1px solid black;
}




 
 